.boxed-md.boxed-padded {
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
.boxed-md {
    border: 1px solid #ccc;
    margin-bottom: 14px;
    margin-top: 14px;
}
.boxed-md>.text-center .h3 {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.focus {
    margin: 0 0 0 200px;
    transition: all 1s linear;
}
.h3 {
    margin-top: 15px;
    margin-bottom:18px;
    font-size: 20px;
}
.boxed-md>.text-center {
    margin-top: -12px;
    margin-bottom: 12px;
}
.list-elements {
    margin-top: 30px;
}
.content {
    width: 200px;
    height: fit-content;
    margin: 10px;
}
.image {
    margin: 5px;
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-topheight: 200px;
    background: url('./images/f891b93cd8e8b75353e3bba01d085c69.jpg');background-size: cover;
}
.box-cats {
    min-height: 400px;
}
.droppable {
    background: #e9ecef;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 400px
}
.item {
    height: fit-content;
}
.list-elements .content .remove-item {
    display: none!important;
}
